@{
    ViewData["Title"] = "Entity";
}

<div class="text-center">
    <h2>Entity</h2>
</div>
<nav aria-label="breadcrumb">
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="home" asp-action="index">Inicio</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="entity" asp-action="index">Entity</a>
        </li>
        <li class="breadcrumb-item">
            <a  asp-controller="entity" asp-action="CategoriasListar"> Categorias    </a>
        </li>
        <li class="breadcrumb-item">
            <a  asp-controller="entity" asp-action="ProductosListar">Productos</a>
        </li>
    </ol>
</nav>      





        
