@model AspMvcNet.Models.Categoria
@{ ViewData["Title"] = "Crear"; }
<div class="text-center">
    <h1 >API</h1>    
</div>
<hr>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="home" asp-action="index">Inicio</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="ClientAPI" asp-action="index">Table info categoria</a>
        </li>
        <li class="breadcrumb-item active">
            Crear         
        </li>
    </ol>
</nav>
<h1> Crear form</h1>
<div class="row">
 <form asp-controller="ClientAPI" asp-action="Add" method="POST">
    <div class="form-group">
        <label asp-for="Nombre" class="control-label"></label>
        <input asp-for="Nombre" class="form-control" placeholder="Ingresa el Nombre"/>
    </div>
    <hr/>
    <button type="submit" class="btn btn-primary ">
        <i class="fas fas-plus"></i>Crear
    </button>
 </form>
</div>