@{
    ViewData["Title"] = "utilities";
}

<div class="text-center">
    <h1 >utilities</h1>    
</div>
<div >
    <ul>
      <li>
        <a aps-controller="utilities" asp-action="UtilidadesExample"> Librería de utilidades</a>
      </li>
       <li>
        <a aps-controller="utilities" asp-action="UtilidadesExcel"> Excel</a>
      </li>
       <li>
        <a aps-controller="utilities" asp-action="UtilidadesQr"> QR</a>
      </li>
    </ul>
       
</div>
<hr>
