@{
    ViewData["Title"] = "example";
}
<div class="text-center">
    <h1 >METODO ESTATICO DESDE UTILIDADES:</h1>    
    <strong>@AspMvcNet.Helpers.UtilidadesHelper.metodoEstatico("hola desde helper") </strong>
</div>
<div >
    <ul>
      <li>
      
      </li>
    </ul>
       
</div>
<hr>